/*pagina de cadastro*/

body {
  background-color: rgb(255, 255, 255)
}

h1 {
    font-size: 2rem;
    color:rgb(0, 0, 0);
    font-weight: 700;
}

.container {
    background-color: rgb(149, 149, 230);
    border-radius: 8px;
    padding: 10px 20px;  

}
.bloco {
     background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;

}